/* index */
@-webkit-keyframes argh-my-eyes {
   0%   { background-color: red; }
   11% { background-color: red; }
   22% { background-color: #00ff00; }
   44% { background-color: #00ff00; }
   55% { background-color: blue; }
   66% { background-color: blue; }
   77% { background-color: white; }
   88% { background-color: white; }
   99% { background-color: red; }
   100% {background-color: red; }
 }
 @-moz-keyframes argh-my-eyes {
   0%   { background-color: red; }
   11% { background-color: red; }
   22% { background-color: #00ff00; }
   44% { background-color: #00ff00; }
   55% { background-color: blue; }
   66% { background-color: blue; }
   77% { background-color: white; }
   88% { background-color: white; }
   99% { background-color: red; }
   100% {background-color: red; }
 }
 @keyframes argh-my-eyes {
   0%   { background-color: red; }
   11% { background-color: red; }
   22% { background-color: #00ff00; }
   44% { background-color: #00ff00; }
   55% { background-color: blue; }
   66% { background-color: blue; }
   77% { background-color: white; }
   88% { background-color: white; }
   99% { background-color: red; }
   100% {background-color: red; }
 }

 .wrapper {
   -webkit-animation: argh-my-eyes 6s infinite;
   -moz-animation:    argh-my-eyes 6s infinite;
   animation:         argh-my-eyes 6s infinite;
 }

img.house {
	top: 0;
	left: 0;
  position: fixed;
  width: 100%;
  height: auto;

}

img.tent {
	top: 0;
	right: 0;
  position: fixed;
  width: 100%;
  height: auto;

}

img.outside {
	bottom: 0;
	left: 0;
  position: fixed;
  width: 100%;
  height: auto;

}

img.municipal {
	bottom: 0;
	right: 0;
  position: fixed;
  width: 100%;
  height: auto;
}
